$base-font-size: 16px;

//colors
$primary: #FF6464;
$light: #8695A4;
$light-1: #E0E0E0;
$black: #000;
$dark: #21243D;
$dark-1: #142850;
$secondary-light: #EDF7FA;
$secondary: #00A8CC;

//fonts
$font-path: '../fonts/';

//layout
$breakpoint-lg: 855px;